.thought-card {
    font-size: 0.875rem;
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    /* height: 80px; */

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
    position: relative;

    background: var(--color-surface);
    border: 1px solid var(--color-border);

    &:hover {
        background: var(--color-surface-hover);
    }

    .thought {
        font-size: 1rem;
        color: var(--color-text);
        margin-right: 1rem;
    }

    .blurred {
        filter: blur(4px);
        user-select: none;
    }

    .meta {
        font-size: 0.75rem;
        color: var(--text-secondary);
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .emoji {
        font-size: 1rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}
