:root {
    --color-bg: #1e1e1e;
    --color-surface: #2a2a2a;
    --color-surface-hover: #333;
    --color-border: #666;
    --color-text: #ddd;
    --color-accent: #3a7bd5;

    --home-column-width: 26rem;
    --board-column-width: 34rem;
    --column-gap: 5rem;
    --home-widescreen: 1440px;
    --board-widescreen: 1860px;
}

body {
    margin: 0;
    font-family: "Manrope", "Helvetica Neue", "Arial", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 1rem;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

button {
    background-color: var(--color-surface);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-border);
}
